@import "styles/mixins.scss";
@import "styles/variabless.scss";

.title {
	margin-bottom: 50px;
	width: 100%;

	&--align-left {
		text-align: left;
	}

	&--align-center {
		text-align: center;
	}

	&__content {
		@include font(GeneralSans-Variable, 500, 36px, $white);
		line-height: 54px;
		margin-bottom: 32px;
	}

	&__description {
		@include font(Archivo, 400, 15px, $white);
		line-height: 22.5px;
	}
}




