@import 'styles/global.scss';

.main-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10vw;

	&__span {
		@include font(GeneralSans-Variable, 500, 48px, #000);
		text-shadow: 0.7px 0 #fff, 0 0.7px #fff, -0.7px 0 #fff, 0 -0.7px #fff;
	}

	&__text {
		@include font(GeneralSans-Variable, 500, 48px, #fff);
		text-align: center;
		line-height: 65px;
		margin-bottom: 4vw;
	}

	&__description {
		@include font(Archivo, 500, 15px, #fff);
		text-align: center;
		line-height: 22px;
		margin-bottom: 8vw;
	}

	&__button {
		width: 187px;
		height: 50px;
		background-color: #A7EA72;
		border-radius: 5px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	&__button-text {
		@include font(Archivo, 700, 15px, #000);
		margin-left: 7vw;
	}

	&__button-arrow {
		margin-right: 7vw;
	}
}

.beginners {
	background-image: url(../../assets/images/beginners-bg.png);
	background-size: cover;
	padding: 15vw 5vw;
	margin-bottom: 30vw;

	&__title {
		@include font(GeneralSans-Variable, 500, 36px, #fff);
		line-height: 54px;
		margin-bottom: 10vw;
	}

	&__text {
		@include font(Archivo, 500, 15px, #fff);
		line-height: 24px;
		margin-bottom: 10vw;
	}

	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50px;
		background-color: #fff;
		border-radius: 5px;
	}

	&__button-text {
		@include font(Archivo, 700, 15px, #000);
		margin-left: 10vw;
	}

	&__button-arrow {
		margin-right: 10vw;
	}
}

.title {
	margin-bottom: 50px;

	&--align-left {
		text-align: left;
	}

	&--align-center {
		text-align: center;
	}

	&__content {
		@include font(GeneralSans-Variable, 500, 36px, #fff);
		line-height: 54px;
		margin-bottom: 32px;
	}

	&__description {
		@include font(Archivo, 400, 15px, #fff);
		line-height: 22.5px;
	}
}




