@import 'styles/global.scss';

.btn{
	display: flex;
	align-items: center;
  height: 50px;
	border-radius: 5px;
	padding: 0 32px;
	transition: 0.25s;
	cursor: pointer;
	z-index: 1;

	&--small {
		width: fit-content;
	}

	&--large {
		justify-content: space-between;
		width: 270px;
	}

	&--green {
		background-color: $green;
		color: $black;

		svg path {
			stroke: $black;
		}

		&:hover {
			background-color: $pink;
			color: $white;

			svg path {
				stroke: $white;
			}
		}
	}

	&--white {
		background-color: $white;
		color: $black;

		svg path {
			stroke: $black;
		}

		&:hover {
			background-color: $green;
		}
	}

	&--grey {
		background-color: $transparent;
		color: $white;
		display: none;
		&:visited {
			color: $white;
		}

		svg path {
			stroke: $white;
		}

		&:hover {
			color: $green;

			svg path {
				stroke: $green;
			}
		}

		@media (min-width: $bp500) {
			display: flex;
		}
	}

	&__text {
		font-family: Archivo;
		font-weight: 700;
		font-size: 15px;
		margin-right: 8px;

		@media (min-width: $bp500) {
			font-size: 16px;
		}
	}
}