@import "styles/mixins.scss";
@import "styles/variabless.scss";

.btn{
	display: flex;
	align-items: center;
  height: 50px;
	border-radius: 5px;
	padding: 0 32px;
	transition: 0.25s linear;
	cursor: pointer;
	z-index: 1;
	-webkit-tap-highlight-color: transparent;

	&--small {
		width: fit-content;
	}

	&--large {
		justify-content: space-between;
		width: 270px;
	}

	&--green {
		background-color: $green;
		color: $black;

		svg path {
			stroke: $black;
			transition: 0.25s linear;
		}

		// &:visited {
		// 	background-color: $green;
		// }

		&:hover {
			background-color: $pink;
			color: $white;

			svg path {
				stroke: $white;
			}
		}

		&:focus {
			background-color: $green;
			color: $black;

			svg path {
				stroke: $black;
			}
		}
	}

	&--white {
		background-color: $white;
		color: $black;

		svg path {
			stroke: $black;
			transition: 0.25s linear;
		}

		&:hover {
			background-color: $green;
		}

		&:focus {
			background-color: $white;
		}
	}

	&--grey {
		background-color: $transparent;
		color: $white;
		display: none;

		&:visited {
			color: $white;
		}

		svg path {
			stroke: $white;
			transition: 0.25s linear;
		}

		&:hover {
			color: $green;

			svg path {
				stroke: $green;
			}
		}

		&:focus {
			color: $white;

			svg path {
				stroke: $white;
			}
		}

		@media (min-width: $bp500) {
			display: flex;
		}
	}

	&__text {
		font-family: Archivo;
		font-weight: 700;
		font-size: 15px;
		margin-right: 8px;

		@media (min-width: $bp500) {
			font-size: 16px;
		}
	}
}