@import "styles/mixins.scss";
@import "styles/variabless.scss";

.main-banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 10vw;

	&__span {
		@include font(GeneralSans-Variable, 500, 48px, $black);
		text-shadow: 0.7px 0 $white, 0 0.7px $white, -0.7px 0 $white, 0 -0.7px $white;

		@media (min-width: $bp900) {
			font-size: 64px;
			text-shadow: 1px 0 $white, 0 1px $white, -1px 0 $white, 0 -1px $white;
		}
	}

	&__title {
		@include font(GeneralSans-Variable, 600, 48px, $white);
		text-align: center;
		line-height: 65px;
		margin-bottom: 4vw;

		@media (min-width: $bp900) {
			font-size: 64px;
		}
	}

	&__description {
		@include font(Archivo, 500, 15px, $white);
		text-align: center;
		line-height: 22px;
		margin-bottom: 30px;
	}
}
