@import "styles/variabless.scss";

.window {
	overflow: hidden;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
}

.spiral {
	width: 500px;
	top: 0px;
	right: -160px;

	@media (min-width: $bp750) {
		top: 0px;
		right: 125px;
	}

	@media (min-width: $bp1350) {
		width: auto;
		right: 135px;
	}
}

.decoration {
	position:absolute;
	z-index: 0;
}

.btc1 {
	top: 140px;
	left: -85px;
	
	@media (min-width: $bp750) {
		left: 0;
	}

	@media (min-width: $bp1350) {
		top: 190px;
		left: -50px;

		svg {
			width: 190px;
			height: 190px;
		}
	}
}

.btc3 {
	bottom: 70px;
	right: 300px;
	display: none;

	svg {
		width: 190px;
		height: 190px;
	}

	@media (min-width: $bp1350) {
		display: block;
	}
}

.btc2 {
	right: 27px;
	top: -17px;
	display: none;

	svg {
		width: 85px;
		height: 85px;
	}

	@media (min-width: $bp750) {
		display: block;
	}

	@media (min-width: $bp1350) {
		right: 65px;
		top: -22px;

		svg {
			width: 110px;
			height: 110px;
		}
	}
}

.btc4 {
	bottom: 455px;
	left: 75px;
	rotate: -40deg;
	display: none;

	svg {
		width: 115px;
		height: 115px;
	}

	@media (min-width: $bp1350) {
		display: block;
	}

}

.eth1 {
	top: 343px;
	right: -60px;

	@media (min-width: $bp750) {
		top: 343px;
		right: -35px;
	}

	@media (min-width: $bp1350) {
		top: 343px;
		right: 100px;
	}
}

.ellipse1 {
	top: 100px;
	right: 150px;

	@media (min-width: $bp750) {
		top: 90px;
		right: 430px;
	}

	@media (min-width: $bp1350) {
		top: 100px;
		right: 600px;
	}
}

.ellipse2 {
	bottom: 170px;
	left: 120px;

	svg {
		width: 40px;
		height: 40px;
	}

	@media (min-width: $bp750) {
		bottom: 220px;
		left: 280px;
	}

	@media (min-width: $bp1350) {
		bottom: 40px;
		left: 20px;

		svg {
			width: 60px;
			height: 60px;
		}
	}
}

.ellipse3 {
	bottom: -60px;
	right: 100px;

	svg {
		width: 100px;
		height: 100px;
	}

	@media (min-width: $bp500) {
		left: 35%;
	}

	@media (min-width: $bp1350) {
		svg {
			width: 130px;
			height: 130px;
		}
	}
}

.diamond {
	bottom: -20px;
	left: -120px;

	@media (min-width: $bp750) {
		bottom: 0;
		left: 0;
	}

	@media (min-width: $bp1350) {
		bottom: 0;
		left: 110px;
		width: 340px;
	}
}

.diamond-ellipse {
	bottom: 0px;
	left: -350px;

	@media (min-width: $bp750) {
		bottom: 50px;
		left: -180px;
	}

	@media (min-width: $bp1350) {
		bottom: 70px;
		left: 0;
	}
}

.lin-ellipse {
	bottom: 0;
	right: -190px;

	@media (min-width: $bp750) {
		right: -52px;
	}

	@media (min-width: $bp1350) {
		right: 0;
	}
}

.sphere {
	bottom: 0px;
	right: -215px;

	@media (min-width: $bp750) {
		right: initial;
		left: -120px;
		bottom: 150px;
	}

	@media (min-width: $bp1350) {
		left: 50px;
		bottom: 150px;
	}
}

.sphere-ell-mobile {
	right: -260px;
	bottom: -100px;

	@media (min-width: $bp750) {
		display: none;
	}
}

.sphere-ell-tablet {
	display: none;
	left: 0;
	bottom: 0;

	@media (min-width: $bp750) {
		display: block;
	}

	@media (min-width: $bp1350) {
		display: none;
	}
}

.sphere-ell-desktop {
	display: none;
	left: 0;
	bottom: 0;

	@media (min-width: $bp1350) {
		display: block;
	}
}

.hero {
	width: 100%;
	position: relative;
	background-image: url(../assets/images/mobile-title-bg.png);
	background-size: cover;
	padding-bottom: 235px;

	&--404 {
		overflow: hidden;
		width: 100%;
		position: relative;
		background-image: url(../assets/images/mobile-title-bg.png);
		background-size: cover;
		height: 100vh;
	}

	@media (min-width: $bp750) {
		padding-bottom: 270px;
		background-image: url(../assets/images/tablet-title-bg.png);
	}

	@media (min-width: $bp1200) {
		background-image: url(../assets/images/desktop-title-bg.png);
		padding-bottom: 300px;
	}
}

