$green: #A7EA72;
$black: #000;
$white: #fff;
$transparent: #FFFFFF1A;
$pink: #A389C6;
$background: #131017;
$bp500: 500px;
$bp600: 600px;
$bp750: 750px;
$bp900: 900px;
$bp1000: 1000px;
$bp1200: 1200px;
$bp1350: 1350px;
