@import '../../styles/global.scss';

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: 400px;
	background-color: $background;
	padding: 32px;
	margin: 0 0 32px 0;

	&__title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	&__title-text {
		@include font(Archivo, 500, 24px, $white);
		margin-left: 20px;
	}

	&__description {
		@include font(Archivo, 400, 15px, $white);
		line-height: 22.5px;
		margin-bottom: 20px;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-self: flex-end;
		cursor: pointer;
		color: $green;
		transition: 0.25s;

		svg path {
			stroke: $green;
		}

		&:hover {
			color: $white;

			svg path{
				stroke: $white;
			}
		}
	}

	&__button-text {
		font-family: Archivo;
		font-weight: 700;
		font-size: 15px;
		margin-right: 8px;
	}

	@media (min-width: $bp500) {
		margin: 0 auto 32px;
	}

	@media (min-width: $bp750) {
		width: 283px;
		margin:0 0 32px 0;
	}

	@media (min-width: $bp1000) {
		width: 351px;
		margin: 0 0 32px;
	}
}

