@import "styles/global.scss";

.header {
	margin-bottom: 164px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;

	@media (min-width: $bp750) {
		margin-bottom: 208px;
	}
}


