@import "styles/variabless.scss";

.header {
	margin-bottom: 134px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;

	@media (min-width: $bp750) {
		margin-bottom: 178px;
	}
}


