@import "styles/variabless";

.ellipse1-404 {
	top: 60px;
	left: 135px;
}

.ellipse2-404 {
	left: 40px;
	bottom: 280px;

	svg {
		width: 40px;
		height: 40px;
	}
}

.ellipse3-404 {
	bottom: 0px;
	right: 50px;

	svg {
		width: 123px;
		height: 123px;
	}
}