@import "styles/mixins.scss";
@import "styles/variabless.scss";

.benefits {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 460px;
	margin: 0 0 32px;

	&__description {
		display: flex;
	  flex-direction: column;
		margin-left: 16px;
	}

	&__title {
		@include font(Archivo, 500, 20px, $white);
		margin-bottom: 16px;

		@media (min-width: $bp900) {
			font-size: 24px;	
		}
	}

	&__text {
		@include font(Archivo, 400, 15px, $white);
		line-height: 22.5px;
	}

	@media (min-width: $bp500) {
		margin: 0 auto 32px;
	}

	@media (min-width: $bp750) {
		width: 338px;
		margin: 0 0 32px;
	}
}


