@import "styles/global.scss";

.slider-container {
	width: 100% !important;
}

.slide {
	display: flex !important;
	justify-content: center !important;
	background-color: #131017;
	width: 200px !important;
}

.slider-frame {

}